<div class="container">
  <p>
  <br>
    <%= link_to "Submit Your Story", new_story_path, class: "btn btn-primary" %>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @stories.each do |story| %>
        <div class="well">
          <%= story.body %>
          <br>
          <br>
          <a href="#" class="btn btn-warning btn-xs">Loved it!</a><span class="text-warning"> (28)</span>
          <a href="#" class="btn btn-success btn-xs">Hate it!</a><span class="text-success"> (1200)</span>
          <a href="#" class="btn btn-link btn-xs">Comments</a><small><em>(300)</em></small>
          <span class="text-muted pull-right"><small>Created by: <%= story.user.name %> on <%= story.created_at.strftime('%B %d, %Y at %l:%M %p') %><small></span>
        </div>
      <% end %>
      <ul class="pagination pull-right">
        <li class="disabled"><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Categories</div>
          <ul class="list-group">
            <% Category.all.each do |category| %>
              <li class="list-group-item"><%= category.name %></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>